.root {
    -fx-background-color: #111111;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Arial";
    -fx-text-fill: #1eaeff;
    -fx-alignment: center;
}

#dateTimeLabel {
    -fx-font-size: 60;
}
